<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body class="min-vh-100 d-flex flex-column">
<!-- ======= Navigation ======= -->
{% include 'components/header.html' %}<!-- End Navigation -->

  <!-- ======== Flash Messages ======= -->
{% include 'components/messages.html' %}  <!-- End Flash Messages -->

  <!-- ======= Content ======= -->
{% block content %}{% endblock %}  <!-- End Content -->

  <!-- ======= Footer ======= -->
{% include 'components/footer.html' %}<!-- End Footer -->

  <!-- ======= Scripts ======= -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script><!-- End Scripts -->
</body>

</html>
